* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nava {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nava img {
    width: 100px;
}

.homeBtns {
    display: flex;
    list-style: none;
    /* margin-right: 300px; */

}

.homeBtns{
    padding: 0 !important;
    margin: 0 !important;
}

.homeBtns a {
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 0 20px;
}

button {
    background-color: #00B170;
    color: aliceblue;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0 20px 0 20px;
    padding: 10px 20px;
}
.swiper {
    display: flex;
   
    width: 100%;
    height: 600px;
  }
.swiper-slide{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 15px 70px;

}
.secondsection{
    background-color: #3E15B1;
}

.sliderFont{
    width: 30%;
    color: white;
    
}

.sliderFont p{
    margin-top: 50px;
}

.sliderFont h1{
    font-weight: bold;
    margin-top: 40px;
}

.sliderImg img{
    
}
.btn button{
    background-color: #FFB700;
    
}

.btn{
    margin-top: 50px;
    padding-left: 0;
}